body {
    background-color: hsl(0, 0%, 94%);
    height: 100%;
    font-size: 32px;
    font-family: 'poppins';
    color: hsl(0, 0%, 8%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    border: 0px solid black;
    border-radius: 25px 25px 200px 25px;
    width: 55%;
    min-width: 700px;
    max-width: 780px;
    height: 65%;
    min-height: 580px;
    max-height: 580px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.container:focus{
    outline: none;
}

.box {
    
    margin: 30px 50px 30px 50px;
}

.input-container {
    display: flex;
    flex-direction: row;
    /* margin-bottom: 35px; */
}

.input-cell {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}


label {
    font-size: 14px;
    margin: 10px 0 10px 0;
    color: hsl(0, 1%, 44%);
}

input {
    font-size: 32px;
    text-indent: 15px;
    font-weight: 800;
    width: 160px;
    height: 70px;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 10px;
}
.field-error input{
    border-color: hsl(0, 100%, 67%);
}

.field-error label {
    color: hsl(0, 100%, 67%);
}

.input-cell__error-message{
    font-size: 14px;
    margin-top: 6px;
    color: hsl(0, 100%, 67%);
}

.input:hover {
    cursor: pointer;
}

.input:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: hsl(259, 100%, 65%);
}

/*---------------------------------------*/

.divider {
    display: flex;
    flex-direction: row;
}

hr {
    /* border: 1px solid black; */
    align-self: center;
    width: 90%;
}

button {
    background-color: hsl(259, 100%, 65%);
    width: 90px;
    height: 82px;
    border: 0px;
    border-radius: 90px;
}

button:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 8%);
}

.results-container {
    font-weight: 800;
    font-style: italic;
    font-size: 80px;
    line-height: 85px;
}

.result {
    color: hsl(259, 100%, 65%);
    padding-right: 10px;
}

h3 {
    margin: 0px;
    padding: 0px;
}